<h1>Create a new post bro</h1>

<%= form_for @post, url: {action: 'create' } do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :body %>
  <%= f.text_area :body %><br>
  <h4>Choose category</h4>
  <% Category.all.each do |cat| %>
    <%= f.label :category, cat.name %>
    <%= f.radio_button :category, cat %><br>
  <% end %>
  <%= f.submit "Create Post" %>
<% end %>
